In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
!ls -ltr

total 4
drwxr-xr-x 1 root root 4096 May 14 13:38 sample_data

In [ ]:
pwd

'/content'

In [ ]:
!ls

sample_data

In [ ]:
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

--2025-05-17 00:31:42--  https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2025-05-17 00:31:42--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv’

cars.csv            100%[===================>]  22.08K  --.-KB/s    in 0.001s

2025-05-17 00:31:43 (16.3 MB/s) - ‘cars.csv’ saved [22608/22608]

In [ ]:
!cat cars.csv

In [ ]:
df = spark.read.csv("cars.csv",sep=';',header=True)

df.show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|
|Citroen DS-21 Pallas|   0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|
|Chevrolet Chevell...|   0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|
|    Ford Torino (sw)|   0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|
|Plymouth Satellit...|   0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|
|  AMC Rebel SST (sw)|   0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|
|Ford Mustang Boss...|   0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0| 3086.|        10.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [ ]:
df = spark.read.csv("population_by_age.tsv",sep="\t",header=True,inferSchema=True)

df.show()

+------------------+------+-----+------+------+------+-----+------+------+-----+------+------+------+
| indic_de,geo\time| 2008 |2009 | 2010 | 2011 | 2012 |2013 | 2014 | 2015 |2016 | 2017 | 2018 | 2019 |
+------------------+------+-----+------+------+------+-----+------+------+-----+------+------+------+
|       PC_Y0_14,AD| 14.6 |14.5 | 14.5 | 15.5 | 15.5 |15.5 |    : |    : |   : |    : |    : | 13.9 |
|       PC_Y0_14,AL| 24.1 |23.3 | 22.5 | 21.6 | 20.7 |20.1 | 19.6 | 19.0 |18.5 | 18.2 | 17.7 | 17.2 |
|       PC_Y0_14,AM| 19.0 |18.6 | 18.3 |    : |    : |   : |    : | 19.4 |19.6 | 20.0 | 20.2 | 20.2 |
|       PC_Y0_14,AT| 15.4 |15.1 | 14.9 | 14.7 | 14.6 |14.4 | 14.3 | 14.3 |14.3 | 14.4 | 14.4 | 14.4 |
|       PC_Y0_14,AZ| 23.2 |22.6 | 22.6 | 22.3 | 22.2 |22.3 | 22.4 | 22.4 |22.5 | 22.6 | 22.6 | 22.4 |
|       PC_Y0_14,BE| 16.9 |16.9 | 16.9 |17.0 b| 17.0 |17.0 | 17.0 | 17.0 |17.0 | 17.0 | 17.0 | 16.9 |
|       PC_Y0_14,BG| 13.1 |13.1 | 13.2 | 13.2 | 13.4 |13.6 | 13.7 | 13.9 |14.0 | 14.1 | 14.2 | 14.4 |
|       PC_Y0_14,BY| 14.7 |14.6 |    : | 14.9 | 15.1 |15.4 | 15.7 | 16.0 |16.3 | 16.6 | 16.8 | 16.9 |
|       PC_Y0_14,CH| 15.5 |15.3 | 15.2 |15.1 b| 15.0 |14.9 | 14.9 | 14.9 |14.9 | 14.9 | 15.0 | 15.0 |
|       PC_Y0_14,CY| 18.2 |17.7 | 17.2 | 16.8 | 16.5 |16.4 | 16.3 | 16.4 |16.4 | 16.3 | 16.2 | 16.1 |
|       PC_Y0_14,CZ| 14.2 |14.2 | 14.3 | 14.5 | 14.7 |14.8 | 15.0 | 15.2 |15.4 | 15.6 | 15.7 | 15.9 |
|       PC_Y0_14,DE| 13.7 |13.6 | 13.5 |13.6 b| 13.4 |13.3 |13.2 b| 13.2 |13.2 | 13.4 | 13.5 | 13.6 |
|       PC_Y0_14,DK| 18.4 |18.3 | 18.1 | 17.9 | 17.7 |17.4 | 17.2 | 17.0 |16.8 | 16.7 | 16.6 | 16.5 |
|     PC_Y0_14,EA18| 15.4 |15.4 | 15.4 |15.4 b|15.4 b|15.3 |15.3 b|15.2 b|15.1 |15.1 b|15.0 p|15.0 p|
|     PC_Y0_14,EA19| 15.5 |15.5 | 15.4 |15.5 b|15.4 b|15.4 |15.3 b|15.3 b|15.2 |15.2 b|15.1 p|15.0 p|
|       PC_Y0_14,EE| 14.8 |14.9 | 15.1 | 15.3 | 15.5 |15.7 | 15.8 |15.9 b|16.1 | 16.2 | 16.3 | 16.4 |
|       PC_Y0_14,EL| 14.6 |14.6 | 14.6 | 14.6 | 14.7 |14.7 | 14.6 | 14.5 |14.4 | 14.4 | 14.4 | 14.3 |
|       PC_Y0_14,ES| 14.6 |14.8 | 14.9 | 15.0 | 15.1 |15.2 | 15.2 | 15.2 |15.1 | 15.1 | 15.0 | 14.8 |
|PC_Y0_14,EU27_2007|15.8 b|15.7 |15.7 b|15.7 b|15.7 b|15.7 |15.6 b|15.6 b|15.6 |15.6 b|15.6 p|15.5 p|
|PC_Y0_14,EU27_2020|15.5 b|15.4 |15.4 b|15.4 b|15.4 b|15.4 |15.3 b|15.3 b|15.3 |15.2 b|15.2 p|15.2 p|
+------------------+------+-----+------+------+------+-----+------+------+-----+------+------+------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [ ]:
df.count()

406

In [ ]:
df.describe()

DataFrame[summary: string, Car: string, MPG: string, Cylinders: string, Displacement: string, Horsepower: string, Weight: string, Acceleration: string, Model: string, Origin: string]

In [ ]:
print(df.columns)

['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model', 'Origin']

In [ ]:
df_dup = spark.read.csv("my_duplicate_data.csv",header=True)
#df_dup = spark.read.format("csv").load("my_duplicate_data.csv")
df_dup.show()

+---+-----+------+------------+
| id| name|   loc|undated_date|
+---+-----+------+------------+
|  1| John|   USA|  2022-01-25|
|  1| John|Mexico|  2023-04-22|
|  1| John|Canada|  2023-04-25|
|  2|Alice|Canada|  2023-04-24|
|  3|  Bob|    UK|  2023-04-23|
+---+-----+------+------------+

In [ ]:
from pyspark.sql.functions import col
#df_dup.select("id").show()
#df_dup.select(col('id')).show()
df_clean_data = df_dup.orderBy(col('undated_date').desc()).dropDuplicates(['id'])
df_clean_data.show()

+---+-----+------+------------+
| id| name|   loc|undated_date|
+---+-----+------+------------+
|  1| John|Canada|  2023-04-25|
|  2|Alice|Canada|  2023-04-24|
|  3|  Bob|    UK|  2023-04-23|
+---+-----+------+------------+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *

df_dup.count()
wSpec = Window.partitionBy('id').orderBy(col('undated_date').desc())

df_temp = df_dup.withColumn('row_id',row_number().over(wSpec))#Window.partitionBy('id').orderBy(col('undated_date').desc())))

df_temp = df_temp.filter(df_temp['row_id']!=1)

df_temp.show()
df_temp.count()

+---+----+------+------------+------+
| id|name|   loc|undated_date|row_id|
+---+----+------+------------+------+
|  1|John|Mexico|  2023-04-22|     2|
|  1|John|   USA|  2022-01-25|     3|
+---+----+------+------------+------+

2

In [ ]:
data = [
    (1, "John", "Shoes", "2022-01-01", 2, 100),
    (2, "Peter", "Shirt", "2022-01-02", 3, 50),
    (3, "Mary", "Shoes", "2022-01-03", 1, 150),
    (4, "John", "Shoes", "2022-01-04", 2, 100),
    (5, "Peter", "Trousers", "2022-01-05", 1, 75),
    (6, "Mary", "Shirt", "2022-01-06", 2, 50),
    (7, "John", "Shoes", "2022-01-07", 1, 100),
    (8, "Peter", "Shirt", "2022-01-08", 1, 50),
    (9, "Mary", "Trousers", "2022-01-09", 3, 75),
    (10, "John", "Trousers", "2022-01-10", 2, 75)
]

df_h = spark.createDataFrame(data)
df_h.show()

+---+-----+--------+----------+---+---+
| _1|   _2|      _3|        _4| _5| _6|
+---+-----+--------+----------+---+---+
|  1| John|   Shoes|2022-01-01|  2|100|
|  2|Peter|   Shirt|2022-01-02|  3| 50|
|  3| Mary|   Shoes|2022-01-03|  1|150|
|  4| John|   Shoes|2022-01-04|  2|100|
|  5|Peter|Trousers|2022-01-05|  1| 75|
|  6| Mary|   Shirt|2022-01-06|  2| 50|
|  7| John|   Shoes|2022-01-07|  1|100|
|  8|Peter|   Shirt|2022-01-08|  1| 50|
|  9| Mary|Trousers|2022-01-09|  3| 75|
| 10| John|Trousers|2022-01-10|  2| 75|
+---+-----+--------+----------+---+---+

In [ ]:
from pyspark.sql.types import *

schema = StructType([
    StructField("order_id", IntegerType(),True),
    StructField("cust_name", StringType(),True),
    StructField("product_name", StringType(),True),
    StructField("date", StringType(),True),
    StructField("quantity", IntegerType(),True),
    StructField("price", IntegerType(),True),
]
)

In [ ]:
df_h = spark.createDataFrame(data,schema)
df_h.show()

+--------+---------+------------+----------+--------+-----+
|order_id|cust_name|product_name|      date|quantity|price|
+--------+---------+------------+----------+--------+-----+
|       1|     John|       Shoes|2022-01-01|       2|  100|
|       2|    Peter|       Shirt|2022-01-02|       3|   50|
|       3|     Mary|       Shoes|2022-01-03|       1|  150|
|       4|     John|       Shoes|2022-01-04|       2|  100|
|       5|    Peter|    Trousers|2022-01-05|       1|   75|
|       6|     Mary|       Shirt|2022-01-06|       2|   50|
|       7|     John|       Shoes|2022-01-07|       1|  100|
|       8|    Peter|       Shirt|2022-01-08|       1|   50|
|       9|     Mary|    Trousers|2022-01-09|       3|   75|
|      10|     John|    Trousers|2022-01-10|       2|   75|
+--------+---------+------------+----------+--------+-----+

In [ ]:
df_h.select("product_name").distinct().show()

+------------+
|product_name|
+------------+
|    Trousers|
|       Shirt|
|       Shoes|
+------------+

In [ ]:
df_h.filter("price > 90").show()

+--------+---------+------------+----------+--------+-----+
|order_id|cust_name|product_name|      date|quantity|price|
+--------+---------+------------+----------+--------+-----+
|       1|     John|       Shoes|2022-01-01|       2|  100|
|       3|     Mary|       Shoes|2022-01-03|       1|  150|
|       4|     John|       Shoes|2022-01-04|       2|  100|
|       7|     John|       Shoes|2022-01-07|       1|  100|
+--------+---------+------------+----------+--------+-----+

In [ ]:
!wget https://raw.githubusercontent.com/pathwaytipsorg/gcp-data-engineering/04340347ed64fc60d35f9d746dcf3384f96b00d6/dproc/data/emp1.json
!ls

--2023-09-12 22:34:59--  https://raw.githubusercontent.com/pathwaytipsorg/gcp-data-engineering/04340347ed64fc60d35f9d746dcf3384f96b00d6/dproc/data/emp1.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 221 [text/plain]
Saving to: ‘emp1.json’

emp1.json           100%[===================>]     221  --.-KB/s    in 0s

2023-09-12 22:35:00 (13.7 MB/s) - ‘emp1.json’ saved [221/221]

cars.csv  emp1.json  my_duplicate_data.csv  sample_data

In [ ]:
!cat emp1.json

{"name":"AliceSmith","age":25,"address":{"city":"LosAngeles","state":"CA"}},
{"name":"BobJohnson","age":40,"address":{"city":"Chicago","state":"IL"}},
{"name":"JohnDoe","age":30,"address":{"city":"NewYork","state":"NY"}}

In [ ]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

schema1 = StructType([
    StructField("name",StringType(),True),
    StructField("age",IntegerType(),True),
    StructField("address",StructType([
        StructField("city",StringType(),True),
        StructField("state",StringType(),True)
    ]),True)
])

data = [
    ("John", 30, ("New York", "NY")),
    ("Jane", 25, ("San Francisco", "CA")),
    ("Michael", 12, ("Los Angeles", "CA"))
]

js_df = spark.read.schema(schema1).json("emp1.json")

js_df = spark.createDataFrame(data, schema1)
"""
js_df = spark.read.json("emp1.json")
"""
js_df.show()

+-------+---+-------------------+
|   name|age|            address|
+-------+---+-------------------+
|   John| 30|     {New York, NY}|
|   Jane| 25|{San Francisco, CA}|
|Michael| 12|  {Los Angeles, CA}|
+-------+---+-------------------+

In [ ]:
js_df = js_df.withColumn("new_address",concat_ws(":",js_df.address.city,js_df.address.state))
js_df.show()

+-------+---+-------------------+----------------+
|   name|age|            address|     new_address|
+-------+---+-------------------+----------------+
|   John| 30|     {New York, NY}|     New York:NY|
|   Jane| 25|{San Francisco, CA}|San Francisco:CA|
|Michael| 12|  {Los Angeles, CA}|  Los Angeles:CA|
+-------+---+-------------------+----------------+

In [ ]:
js_df = js_df.withColumn("is_minor",when(col("age") < 18,"Yes").otherwise("No"))
js_df.show()

+----------------+---+----------+-------------+--------+
|         address|age|      name|  new_address|is_minor|
+----------------+---+----------+-------------+--------+
|{LosAngeles, CA}| 25|AliceSmith|LosAngeles:CA|      No|
|   {Chicago, IL}| 40|BobJohnson|   Chicago:IL|      No|
|   {NewYork, NY}| 30|   JohnDoe|   NewYork:NY|      No|
+----------------+---+----------+-------------+--------+

In [ ]:
#avg1 = js_df.select(avg("age")).first()[0]
js_df.select(avg("age")).collect()[0][0]
#js_df.select(avg("age")).first()[0]
#print(avg1)

31.666666666666668

In [ ]:
country_by_state = js_df.groupBy("address.state").agg(count("*").alias("people_count"))
country_by_state.show()

+-----+------------+
|state|people_count|
+-----+------------+
|   NY|           1|
|   CA|           2|
+-----+------------+

In [ ]:
js_df.show()

+-------+---+-------------------+----------------+
|   name|age|            address|     new_address|
+-------+---+-------------------+----------------+
|   John| 30|     {New York, NY}|     New York:NY|
|   Jane| 25|{San Francisco, CA}|San Francisco:CA|
|Michael| 12|  {Los Angeles, CA}|  Los Angeles:CA|
+-------+---+-------------------+----------------+

In [ ]:
country_by_state.withColumnRenamed("people_count","people").show()

+-----+------+
|state|people|
+-----+------+
|   NY|     1|
|   CA|     2|
+-----+------+

In [ ]:
js_df.createOrReplaceTempView("employee")

In [ ]:
spark.sql("select * from employee").show()

+-------+---+-------------------+----------------+
|   name|age|            address|     new_address|
+-------+---+-------------------+----------------+
|   John| 30|     {New York, NY}|     New York:NY|
|   Jane| 25|{San Francisco, CA}|San Francisco:CA|
|Michael| 12|  {Los Angeles, CA}|  Los Angeles:CA|
+-------+---+-------------------+----------------+

In [ ]:
# md5 (128)
from pyspark.sql.functions import md5

data = [
    (11112222, "John"), (22222333, "Brand"), (33335436, "Leela")
]

df = spark.createDataFrame(data,["cc","name"])

df = df.withColumn("cc_hash",md5(df["cc"].cast("string")))
df.show()

+--------+-----+--------------------+
|      cc| name|             cc_hash|
+--------+-----+--------------------+
|11112222| John|821f3157e1a3456bf...|
|22222333|Brand|139d85d84e8ec4608...|
|33335436|Leela|f81126f8abb46878c...|
+--------+-----+--------------------+

In [ ]:
# sha2
from pyspark.sql.functions import sha2

data = [
    (11112222, "John"), (22222333, "Brand"), (33335436, "Leela")
]

df = spark.createDataFrame(data,["cc","name"])

df = df.withColumn("cc_hash",sha2(df["cc"].cast("string"),256))
df.show()

+--------+-----+--------------------+
|      cc| name|             cc_hash|
+--------+-----+--------------------+
|11112222| John|0554a5df02ee12f1a...|
|22222333|Brand|71daae1a4128dd237...|
|33335436|Leela|30f56c80b200a5218...|
+--------+-----+--------------------+

In [ ]:
!wget https://raw.githubusercontent.com/pathwaytipsorg/gcp-data-engineering/master/dproc/data/sales.csv

--2023-09-12 23:06:18--  https://raw.githubusercontent.com/pathwaytipsorg/gcp-data-engineering/master/dproc/data/sales.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 225 [text/plain]
Saving to: ‘sales.csv’

sales.csv           100%[===================>]     225  --.-KB/s    in 0s

2023-09-12 23:06:18 (2.66 MB/s) - ‘sales.csv’ saved [225/225]

In [ ]:
!cat sales.csv

Company,Person,Sales
ABC Inc.,John,500
XYZ Ltd.,Jane,1000
Acme Co.,Bob,750
Acme Co.,Tina,
Globex Corp.,Alice,1250
GHI Co.,Peter,450
GHI Co.,Ray,
Acme Co.,Samantha,800
PQR Corp.,David,1200
PQR Corp.,,1211
LMN Ltd.,Jessica,950

In [ ]:
df_n = spark.read.csv("sales.csv", header=True, inferSchema=True) #, inferSchema=True

df_n.show()
#df_n.printSchema()

+------------+--------+-----+
|     Company|  Person|Sales|
+------------+--------+-----+
|    ABC Inc.|    John|  500|
|    XYZ Ltd.|    Jane| 1000|
|    Acme Co.|     Bob|  750|
|    Acme Co.|    Tina| null|
|Globex Corp.|   Alice| 1250|
|     GHI Co.|   Peter|  450|
|     GHI Co.|     Ray| null|
|    Acme Co.|Samantha|  800|
|   PQR Corp.|   David| 1200|
|   PQR Corp.|    null| 1211|
|    LMN Ltd.| Jessica|  950|
+------------+--------+-----+

In [ ]:
from pyspark.sql.functions import mean

val_mean = df_n.select(mean(df_n["Sales"])).collect()[0][0]

val_mean

df_n.na.fill(val_mean,["Sales"]).show()

+------------+--------+-----+
|     Company|  Person|Sales|
+------------+--------+-----+
|    ABC Inc.|    John|  500|
|    XYZ Ltd.|    Jane| 1000|
|    Acme Co.|     Bob|  750|
|    Acme Co.|    Tina|  901|
|Globex Corp.|   Alice| 1250|
|     GHI Co.|   Peter|  450|
|     GHI Co.|     Ray|  901|
|    Acme Co.|Samantha|  800|
|   PQR Corp.|   David| 1200|
|   PQR Corp.|    null| 1211|
|    LMN Ltd.| Jessica|  950|
+------------+--------+-----+

In [ ]:
from pyspark.sql.functions import sum
orders_data = [(1, 101, 50),
               (2, 102, 100),
               (3, 101, 75),
               (4, 103, 120),
               (5, 102, 60)]
order_columns = ["order_id", "customer_id", "order_amount"]
orders = spark.createDataFrame(orders_data,order_columns)

customers_data = [(101, "John"),
                  (102, "Alice"),
                  (103, "Bob")]
customers_columns = ["customer_id","name"]
customers = spark.createDataFrame(customers_data,customers_columns)

joned_df = orders.join(customers, on="customer_id")
joned_df.show()
#joned_df.select(sum("order_amount")).show()
joned_df.groupBy("customer_id","name").agg(sum("order_amount").alias("Total_amount")).show()

+-----------+--------+------------+-----+
|customer_id|order_id|order_amount| name|
+-----------+--------+------------+-----+
|        101|       1|          50| John|
|        101|       3|          75| John|
|        102|       2|         100|Alice|
|        102|       5|          60|Alice|
|        103|       4|         120|  Bob|
+-----------+--------+------------+-----+

+-----------+-----+------------+
|customer_id| name|Total_amount|
+-----------+-----+------------+
|        101| John|         125|
|        102|Alice|         160|
|        103|  Bob|         120|
+-----------+-----+------------+

In [ ]:
from pyspark.sql.functions import sum, year, month
orders_data = [(1, 101, 50,"2023-01-15"),
               (2, 102, 100,"2023-01-20"),
               (3, 101, 75,"2023-02-05"),
               (4, 103, 120,"2023-02-10"),
               (5, 102, 60,"2023-03-15")]
order_columns = ["order_id", "customer_id", "order_amount","date"]
orders = spark.createDataFrame(orders_data,order_columns)

customers_data = [(101, "John"),
                  (102, "Alice"),
                  (103, "Bob")]
customers_columns = ["customer_id","name"]
customers = spark.createDataFrame(customers_data,customers_columns)

# view & sql : assignment
joned_df = orders.join(customers, on="customer_id")

joned_df = joned_df.withColumn("year",year("date")).withColumn("month",month("date"))
#joned_df.show()

res = joned_df.groupBy("year","month").agg(sum("order_amount"))
res.show()

# Assignment Step 1
joned_df.createOrReplaceTempView("tbl_revenue")
#tmp_df = spark.sql("select year, month, sum(order_amount) from tbl_revenue group by year, month")
tmp_df = spark.sql("select * from tbl_revenue")
tmp_df.show()

+----+-----+-----------------+
|year|month|sum(order_amount)|
+----+-----+-----------------+
|2023|    3|               60|
|2023|    2|              195|
|2023|    1|              150|
+----+-----+-----------------+

+-----------+--------+------------+----------+-----+----+-----+
|customer_id|order_id|order_amount|      date| name|year|month|
+-----------+--------+------------+----------+-----+----+-----+
|        101|       1|          50|2023-01-15| John|2023|    1|
|        101|       3|          75|2023-02-05| John|2023|    2|
|        102|       2|         100|2023-01-20|Alice|2023|    1|
|        102|       5|          60|2023-03-15|Alice|2023|    3|
|        103|       4|         120|2023-02-10|  Bob|2023|    2|
+-----------+--------+------------+----------+-----+----+-----+

In [ ]:
from pyspark.sql.functions import col
data = [("Product A", 10, 50),
        ("Product B", 15, 75),
        ("Product A", 5, 60),
        ("Product C", 8, 90),
        ("Product B", 20, 100)]
columns = ["product", "quantity", "price"]

df = spark.createDataFrame(data,columns)
# view & sql : assignment
df = df.withColumn("revenue", col("quantity") * col("price"))
df.show()

df = df.groupBy("product").agg(sum("revenue").alias("total_revenue"))
df.show()

df = df.orderBy(col("total_revenue").desc()).first()

print("Top selling product: ",df["product"])
print("Total revenue: ",df["total_revenue"])

+---------+--------+-----+-------+
|  product|quantity|price|revenue|
+---------+--------+-----+-------+
|Product A|      10|   50|    500|
|Product B|      15|   75|   1125|
|Product A|       5|   60|    300|
|Product C|       8|   90|    720|
|Product B|      20|  100|   2000|
+---------+--------+-----+-------+

+---------+-------------+
|  product|total_revenue|
+---------+-------------+
|Product A|          800|
|Product B|         3125|
|Product C|          720|
+---------+-------------+

Top selling product:  Product B
Total revenue:  3125

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
#UDF
data = [("Mohan",),("Sikhi",),("Anthony",)]
schema = ["name"]

df = spark.createDataFrame(data, schema)

#Defining
def conv2upper(na):
  return na.upper()

#Register
up_case_udf = udf(conv2upper, StringType())

df = df.withColumn("upcase_name",up_case_udf("name"))

df.show()

+-------+-----------+
|   name|upcase_name|
+-------+-----------+
|  Mohan|      MOHAN|
|  Sikhi|      SIKHI|
|Anthony|    ANTHONY|
+-------+-----------+

In [ ]:
from pyspark.sql import functions as F
#from pyspark.sql.functions import sum

data = [(2023, 1, 100),
        (2023, 1, 150),
        (2023, 2, 75),
        (2023, 2, 120),
        (2023, 3, 60)]
cols = ["year","month","sales"]

df = spark.createDataFrame(data,cols)
df.show()

pvt_df = df.groupBy("year").pivot("month").agg(F.sum("sales"))
pvt_df.show()

+----+-----+-----+
|year|month|sales|
+----+-----+-----+
|2023|    1|  100|
|2023|    1|  150|
|2023|    2|   75|
|2023|    2|  120|
|2023|    3|   60|
+----+-----+-----+

+----+---+---+---+
|year|  1|  2|  3|
+----+---+---+---+
|2023|250|195| 60|
+----+---+---+---+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *

data = [("2023-01-01", 100),
        ("2023-01-10", 150),
        ("2023-02-05", 75),
        ("2023-02-15", 120),
        ("2023-03-01", 60)]

cols = ["date","revenue"]

df = spark.createDataFrame(data, cols)
# spark.sql assignment
df_mnts = df.withColumn("month",col("date").substr(6,2))

win_spec = Window.partitionBy("month").orderBy("date")

df_final = df_mnts.withColumn("total",sum("revenue").over(win_spec))
df_final.show()

+----------+-------+-----+-----+
|      date|revenue|month|total|
+----------+-------+-----+-----+
|2023-01-01|    100|   01|  100|
|2023-01-10|    150|   01|  250|
|2023-02-05|     75|   02|   75|
|2023-02-15|    120|   02|  195|
|2023-03-01|     60|   03|   60|
+----------+-------+-----+-----+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import regexp_extract

# Create a SparkSession
spark = SparkSession.builder.appName("Data Analysis").getOrCreate()

# Create a list of tuples representing your data
data = [
    (1, "Male", 27, "Software Engineer", 6.1, 6, 42, 6, "Overweight", "120/80", 77, 4200, "None"),
    (2, "Male", 28, "Doctor", 6.2, 6, 60, 8, "Normal", "130/85", 75, 10000, "None"),
    (3, "Female", 32, "Teacher", 7.0, 7, 30, 5, "Normal", "110/70", 72, 5000, "None")
]

# Create a schema (column names and data types)
schema = ["id", "gender", "age", "occupation", "height", "weight", "waist", "bp", "bmi", "heartrate", "glucose", "income", "smoking"]

# Create a DataFrame from the list and schema
df = spark.createDataFrame(data, schema=schema)

# Display the first few rows of the DataFrame
df.show()

# Extract numerical value using regular expression
df = df.withColumn("heart_rate", regexp_extract(df.heartrate, r"(\d+)", 1).cast("int"))

# Display the DataFrame with the new column
df.show()

+---+------+---+-----------------+------+------+-----+---+----------+---------+-------+------+-------+
| id|gender|age|       occupation|height|weight|waist| bp|       bmi|heartrate|glucose|income|smoking|
+---+------+---+-----------------+------+------+-----+---+----------+---------+-------+------+-------+
|  1|  Male| 27|Software Engineer|   6.1|     6|   42|  6|Overweight|   120/80|     77|  4200|   None|
|  2|  Male| 28|           Doctor|   6.2|     6|   60|  8|    Normal|   130/85|     75| 10000|   None|
|  3|Female| 32|          Teacher|   7.0|     7|   30|  5|    Normal|   110/70|     72|  5000|   None|
+---+------+---+-----------------+------+------+-----+---+----------+---------+-------+------+-------+

+---+------+---+-----------------+------+------+-----+---+----------+---------+-------+------+-------+----------+
| id|gender|age|       occupation|height|weight|waist| bp|       bmi|heartrate|glucose|income|smoking|heart_rate|
+---+------+---+-----------------+------+------+-----+---+----------+---------+-------+------+-------+----------+
|  1|  Male| 27|Software Engineer|   6.1|     6|   42|  6|Overweight|   120/80|     77|  4200|   None|       120|
|  2|  Male| 28|           Doctor|   6.2|     6|   60|  8|    Normal|   130/85|     75| 10000|   None|       130|
|  3|Female| 32|          Teacher|   7.0|     7|   30|  5|    Normal|   110/70|     72|  5000|   None|       110|
+---+------+---+-----------------+------+------+-----+---+----------+---------+-------+------+-------+----------+

In [ ]:
import shutil

output_path = "/path/to/output"
current_date = datetime.now().strftime('%Y-%m-%d')
date_partition_path = f"{output_path}/date={current_date}"

if os.path.exists(date_partition_path):
    # Delete the existing partition
    shutil.rmtree(date_partition_path)

# Write the updated data
df.write.partitionBy("date").parquet(output_path)

In [ ]:
import os
from datetime import datetime
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("DailyDataWrite").getOrCreate()

output_path = "/path/to/output"
current_date = datetime.now().strftime('%Y-%m-%d')
date_partition_path = f"{output_path}/date={current_date}"

# Delete the existing partition if it exists
if os.path.exists(date_partition_path):
    # Use Spark to delete the partition
    spark.sql(f"ALTER TABLE your_table_name DROP IF EXISTS PARTITION (date='{current_date}')")

# Write the DataFrame to the desired location in append mode
df.write.partitionBy("date").mode("append").parquet(output_path)

In [ ]:
"""Delta Lake:
If you're using Databricks, consider using Delta Lake,
which provides ACID transactions and additional features like merge, upsert, and time travel."""
from delta.tables import DeltaTable

delta_table_path = "/path/to/delta-table/"

# Assuming `df` is your DataFrame
if DeltaTable.isDeltaTable(spark, delta_table_path):
    delta_table = DeltaTable.forPath(spark, delta_table_path)
    delta_table.alias("existing").merge(
        df.alias("new"),
        "existing.id = new.id"
    ).whenNotMatchedInsertAll().execute()
else:
    df.write.format("delta").mode("append").save(delta_table_path)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, year, month, dayofmonth

# Initialize SparkSession
spark = SparkSession.builder.appName("Write Partitioned Parquet Data").getOrCreate()

# Sample Data (assuming you have a DataFrame with 'sales_date' and 'sales_amount' columns)
data = [
    ("2023-01-01", 100),
    ("2023-01-02", 150),
    ("2023-02-01", 200),
    ("2024-01-01", 300),
]

# Create a DataFrame
columns = ["sales_date", "sales_amount"]
df = spark.createDataFrame(data, columns)

# Convert 'sales_date' column to date type (if it's a string)
df = df.withColumn("sales_date", col("sales_date").cast("date"))

# Add year, month, and day columns based on 'sales_date'
df = df.withColumn("year", year(col("sales_date"))) \
       .withColumn("month", month(col("sales_date"))) \
       .withColumn("day", dayofmonth(col("sales_date")))
df.show()
# Define the output path where the partitioned data will be written
output_path = "abfss://<container_name>@<storage_account_name>.dfs.core.windows.net/sales/"
output_path = "/content/sales/"
# Write the DataFrame as partitioned Parquet files
df.write \
    .mode("overwrite") \
    .partitionBy("year", "month", "day") \
    .parquet(output_path)

# Stop SparkSession when done
spark.stop()

+----------+------------+----+-----+---+
|sales_date|sales_amount|year|month|day|
+----------+------------+----+-----+---+
|2023-01-01|         100|2023|    1|  1|
|2023-01-02|         150|2023|    1|  2|
|2023-02-01|         200|2023|    2|  1|
|2024-01-01|         300|2024|    1|  1|
+----------+------------+----+-----+---+

In [ ]:
!ls /content/sales/

 _SUCCESS  'year=2023'	'year=2024'

In [ ]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("CoalesceExample").getOrCreate()

# Simulate loading a large dataset
initial_data = spark.range(0, 1000000).withColumnRenamed("id", "number")

# Simulate an initial large number of partitions
initial_data = initial_data.repartition(100)

# Filter down the dataset (Assume this is the requirement)
filtered_data = initial_data.filter("number < 10001")

# Before coalesce: Check the number of partitions
print(f"Partitions before coalesce: {filtered_data.rdd.getNumPartitions()}")

# Calculate the number of rows
row_count = filtered_data.count()
print(f"Calculate the number of rows - {row_count}")

# Decide on number of partitions based on row count
if row_count > 100000:
    num_partitions = 20
elif row_count > 10000:
    num_partitions = 10
else:
    num_partitions = 5

# Coalesce to reduce the number of partitions
coalesced_data = filtered_data.coalesce(num_partitions)

# After coalesce: Check the number of partitions
print(f"Partitions after coalesce: {coalesced_data.rdd.getNumPartitions()}")

# Show the data
coalesced_data.show()

Partitions before coalesce: 100
Calculate the number of rows - 10001
Partitions after coalesce: 10
+------+
|number|
+------+
|  1351|
|  7957|
|  8382|
|  1131|
|  1567|
|  9924|
|  4628|
|  7325|
|  5512|
|  2890|
|  9713|
|  3073|
|  9653|
|  1635|
|  5983|
|  9086|
|  9354|
|  2688|
|  7083|
|  5249|
+------+
only showing top 20 rows

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("RepartitionExample").getOrCreate()

# Read the initial large dataset
large_data = spark.read.format("csv").option("header", "true").option("sep",";").load("cars.csv")
large_data.show(3)

initial_partitions = large_data.rdd.getNumPartitions()
print(f"Initial number of partitions: {initial_partitions}")

# Calculate the number of rows
row_count = large_data.count()

# Decide on number of partitions based on file count
if row_count < 1000:
    num_partitions = 5
elif row_count < 5000:
    num_partitions = 10
else:
    num_partitions = 20

# Repartition the dataframe to (num_partitions) partitions
df_repartitioned = large_data.repartition(num_partitions)

new_partitions = df_repartitioned.rdd.getNumPartitions()
print(f"Number of partitions after repartition: {new_partitions}")

# Example transformation
transformed_data = df_repartitioned.filter("Car IS NOT NULL")

# Write the transformed data
# transformed_data.write.format("parquet").save("car_output")

# To see the data csv write
transformed_data.write.mode("overwrite").format("csv").save("csv_output")

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 3 rows

Initial number of partitions: 1
Number of partitions after repartition: 5